<template>
    <div id="app">
        <b-navbar class="navbar-expand-md" :sticky="true" variant="light">
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-collapse is-nav id="nav_collapse">
                <!-- Left aligned nav items -->
                <div class="container">
                    <b-navbar-brand href="#">Miguel-Santos</b-navbar-brand>
                    <b-navbar-nav class="navbar-collapse">
                    </b-navbar-nav>
                </div>
                <!-- Center aligned nav items -->
                <div class="container">
                    <b-navbar-nav class="navbar-collapse" align="center">
                        <b-nav-item to="/" exact>Home</b-nav-item>
                        <!--   <b-nav-item to="/team">Team</b-nav-item> -->
                        <b-nav-item to="/website">Website</b-nav-item>
                        <!--  <b-nav-item to="/game">Game</b-nav-item>
                        <router-link to="/" class="nav-link">Home</router-link>
                        <router-link to="/about" class="nav-link">About</router-link>-->
                    </b-navbar-nav>
                </div>
                <!-- Right aligned nav items -->
                <div class="container">
                    <b-navbar-nav class="navbar-collapse" align="right">
                        <!--
                                    <router-link to="/profile" id="linkProfile"
                                                 v-if="isLoggedIn" class="nav-link">{{translate('linkProfile')}}
                                    </router-link>
                                    <b-nav-item id="linkLogin"
                                                v-if="!isLoggedIn" v-on:click.prevent="clickedRoute('login')">Login
                                    </b-nav-item>
                                    <b-nav-item id="liLogout"
                                                v-if="isLoggedIn" v-on:click.prevent="doLogout()">Logout
                                    </b-nav-item>

                        -->
                        <b-nav-item-dropdown
                                id="liLanguageDropDown"
                                :text="$ml.get('app-lang')"
                                right>
                            <b-dropdown-item v-for="lang in $ml.list" :key="lang"
                                             v-on:click="$ml.change(lang)">{{$ml.get(lang)}}
                            </b-dropdown-item>

                            <!--
                                          <b-dropdown-item id="linkLanguageEnglish" v-on:click="changeLanguage('en')">
                                            {{translate('linkLanguageEnglish')}}
                                          </b-dropdown-item>
                                          <b-dropdown-item id="linkLanguagePortuguese" v-on:click="changeLanguage('pt')">
                                            {{translate('linkLanguagePortuguese')}}
                                          </b-dropdown-item>
                                            -->

                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </div>
            </b-collapse>
        </b-navbar>
        <router-view/>
        <Chat :userId="userId"></Chat>
        <div class="footer-wrapper">
            <footer class="footer p-3 mt-4">
                <b-container>
                    <b-row class="align-middle">
                        <b-col class="cols-sm-3"><a target="_blank" href="https://www.linkedin.com/in/miguel-m-santos">
                            <b-img :src="require('@/assets/images/LI-Logo.png')"></b-img>
                        </a>
                        </b-col>
                        <b-col class="cols-sm-9 align-middle">
                            <p class="text-center m-0 footer-text">{{$ml.get('contact-me')}}</p>
                        </b-col>
                        <b-col class="cols-sm-3"></b-col>
                    </b-row>
                </b-container>
            </footer>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from 'vue-property-decorator';
    import {Socket} from './Socket';
    import Chat from './components/Chat.vue';
    import uuidv4 from 'uuid/v4';

    Socket.init();
    @Component({
        components: {
            Chat,
        },
    })
    export default class App extends Vue {
        private userId: string = '';

        private created(): null {
            const localStorageUserId = localStorage.getItem('user-id');
            if (localStorageUserId) {
                this.userId = localStorageUserId;
            } else {
                this.userId = uuidv4();
                localStorage.setItem('user-id', this.userId);
            }
            return null;
        }
    }
</script>
