<template>
    <b-container>
        <b-row align-h="between">
            <b-col md="8">
                <div id="game-container" align="center" v-if="started"></div>
                <div class="placeholder" v-else align="center">
                    <b-button v-on:click="start">Start</b-button>
                </div>
            </b-col>
            <b-col md="2">
                <h5>Top 10:</h5>
                <div>
                    <b-table-lite striped hover :items="scores" :fields="fields" :small="true"></b-table-lite>
                    <label for="username">Nickname:
                        <b-form-input v-model="user" id="username" :maxlength="10"></b-form-input>
                    </label>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>


<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Observable} from 'rxjs';
    import {Socket} from '../Socket';

    // import {MyGame} from '@/game/MyGame';

    @Component
    export default class Game extends Vue {
        private started: boolean = false;
        private scores: Array<{ value: number, user: string }> = [];
        private user: string = 'anonymous';
        private fields = [
            {
                key: 'value',
            },
            {
                key: 'user',
            },
        ];

        private async start() {
            const {MyGame} = await import(/* webpackChunkName: "game" */ '../game/MyGame');
            this.started = true;
            this.$nextTick(() => {
                const game = new MyGame();
                game.game.events.addListener('publish-score', (data: any) => {
                    const score: number = data.score;
                    Socket.publishScore(score, this.user);
                });
            });
            /*this.started = true;
            return loader.then((MyGame) => new MyGame());*/
        }

        private mounted() {
            const observable = new Observable((subscriber) => {
                Socket.socket.on('scores:top10!', (data: any) => subscriber.next(data));
            });
            observable.subscribe((data: any) => {
                this.scores.splice(0, this.scores.length, ...data.scores);
            });
            Socket.socket.emit('scores:top10?');
        }
    }
</script>