<template>
    <div>
        <b-container>
            <b-row class="mt-5" align="center">
                <b-col align="center">
                    <h4>{{$ml.get('website-developed')}}</h4>
                    <h4>{{$ml.get('website-my-technologies')}}</h4>
                </b-col>
            </b-row>
            <template v-for="(technologyPair, i) in technologyPairs()">
                <b-row :class="i === 0 ? 'mt-3' : ''">
                    <template v-for="technology in technologyPair">
                        <b-col>
                            <b-row align-v="center">
                                <b-col>
                                    <a :href="technology.link" target="_blank">
                                        <b-img :src="require(`@/assets/images/${technology.imagePath}`)"></b-img>
                                    </a>
                                </b-col>
                                <b-col align="left">
                                    <p>
                                        <a :href="technology.link" target="_blank">{{technology.name + ' '}}</a>
                                        {{$ml.get(technology.description)}}
                                    </p>
                                </b-col>
                            </b-row>
                        </b-col>
                    </template>
                </b-row>
            </template>
        </b-container>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Technology} from '../technologies/Technology';
    import data from '../technologies/data';

    @Component
    export default class Website extends Vue {
        @Prop({
            default: () => data.technologies.map((o) =>
                new Technology(o.name, o.link, o.imagePath, o.description)),
        }) private technologies!: Technology[];


        private technologyPairs(): Technology[][] {
            return this.technologies.reduce((result: Technology[][], value, index, array) => {
                if (index % 2 === 0) {
                    result.push(array.slice(index, index + 2));
                }
                return result;
            }, []);

        }
    }
</script>
