html, body, #app {
    height: 100%;
    margin: 0;
}

body {
    /* background-color: #fffaf1; */
    background-color: #f4f4f4;
    /* Full height */
    min-height: 100vh;
}
#app{
    display: flex;
    flex-direction: column;
}

.router-link-active {
    border-color: #000;
    border-bottom: 2px solid;
}

.chat {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 40%;
}

.message-history {
    height: 50vh;
    overflow-y: auto;
}
.open-chat {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 15px;
}
.chat-name{
    background-color: #eeeeee;
}

.footer{
    background-color: #ece4db;
}
.footer-wrapper{
    z-index: 0;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
}
.footer-text{
    text-decoration: underline;
}
