<template>
    <b-card no-body border-variant="secondary" header-border-variant="secondary"
            header-tag="header" class="chat p-0" v-if="enabled">
        <template v-slot:header>
            <b-row>
                <b-col class="col-sm-3 justify-content-center align-self-center">Chat - #general</b-col>
                <b-col class="col-sm-7">
                    <b-input-group :prepend="$ml.get('my-username')">
                        <b-form-input v-model="username"></b-form-input>
                    </b-input-group>
                </b-col>
                <b-col class="col-sm-2 justify-content-center align-self-center">
                    <b-button class="btn-sm float-right" v-on:click="enabled=false">X</b-button>
                </b-col>
            </b-row>
        </template>
        <div class="message-history p-4" id="message-history">
            <b-container>
                <template v-for="message in messages">
                    <div v-if="message.isYou">
                        <b-row>
                            <b-col class="col-md-6 offset-md-6">
                                <p class="text-light bg-info p-2 m-0">{{message.message}}</p>
                                <span class="small"> {{message.date.toLocaleString()}}</span>
                            </b-col>
                        </b-row>
                    </div>
                    <div v-else>
                        <b-row>
                            <b-col class="col-md-6">
                                <b-row>
                                    <b-col class="p-0 col-sm-auto chat-name"><p class="py-2 pl-2 m-0">
                                        <b-img :src="require(`@/assets/images/svg/star-fill.svg`)" v-if="message.admin"></b-img>
                                        {{message.username}}:</p>
                                    </b-col>
                                    <b-col class="p-0"><p class="text-dark bg-light py-2 pr-2 m-0">
                                        &nbsp{{message.message}}</p></b-col>
                                </b-row>
                                <span class="small"> {{message.date.toLocaleString()}}</span>
                            </b-col>
                        </b-row>
                    </div>
                </template>
            </b-container>
        </div>
        <b-container class="p-0">
            <b-input-group>
                <template v-slot:append>
                    <b-button variant="primary" :disabled="message===''" v-on:click="sendMessage()">
                        {{$ml.get('send-message')}}
                    </b-button>
                </template>
                <b-form-input id="message-input" v-on:keyup.prevent.stop v-on:keyup.enter="sendMessage()"
                              v-model="message"
                              :placeholder="$ml.get('type-message')"></b-form-input>
            </b-input-group>
        </b-container>
    </b-card>
    <div v-else>
        <b-button class="open-chat btn-lg" variant="success" v-on:click="enabled=true">{{$ml.get('open-chat')}}
        </b-button>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Message} from '../chat/Message';
    import {Socket} from '../Socket';
    import {Observable} from 'rxjs';
    import {first} from 'rxjs/operators';

    // TODO: Move this
    interface ServerMessage {
        message: string;
        createdAt: Date;
        username: string;
        isYou: boolean;
        admin: boolean;
    }

    @Component
    export default class Chat extends Vue {

        @Prop({default: ''})
        private userId!: string;

        private messages: Message[] = [];

        private message: string = '';

        private username: string = 'Anonymous';

        private enabled: boolean = false;

        private sendMessage(): null {
            this.message = this.message.trim();
            if (this.message !== '') {
                this.messages.push(new Message(this.message, new Date(), this.username, true, false));
                Socket.sendMessage(this.username, this.message, this.userId);
                this.message = '';
                this.$nextTick(() => {
                    const container = this.$el.querySelector('#message-history');
                    if (container !== null) {
                        container.scrollTop = container.scrollHeight;
                    }
                });
            }
            return null;
        }

        private created(): null {
            let observable = new Observable((subscriber) => {
                Socket.socket.on('messages:latest!', (data: any) => subscriber.next(data));
            });
            observable.pipe(first()).subscribe((data: any) => {
                const receivedRawMessages: ServerMessage[] = data.messages;
                const receivedMessages: Message[] = receivedRawMessages
                    .map((m) => new Message(m.message, new Date(m.createdAt), m.username, m.isYou, m.admin));
                this.messages.splice(0, this.messages.length, ...receivedMessages);
            });
            Socket.getLatestMessages(this.userId);

            observable = new Observable((subscriber) => {
                Socket.socket.on('message:new!', (data: any) => subscriber.next(data));
            });
            observable.subscribe((data: any) => {
                const raw: ServerMessage = data;
                const receivedMessage: Message = new Message(raw.message, new Date(raw.createdAt), raw.username, raw.isYou, raw.admin);
                this.messages.push(receivedMessage);
            });
            return null;
        }

    }
</script>
