<template>
    <div>
        <b-container>
            <b-row class="mt-3" align="center">
                <b-col align="left">
                </b-col>
                <b-col>
                    <b-img thumbnail class="img-fluid" rounded="circle" :src="require(`@/assets/images/miguel.png`)"></b-img>
                </b-col>
                <b-col align="left"></b-col>
            </b-row>
            <b-row class="mt-3" align="center">
                <b-col align="center">
                    <h1>Miguel Moreira Santos</h1>
                </b-col>
            </b-row>
            <b-row class="mt-3" align="center">
                <b-col align="center">
                    <h3>Fullstack Software Developer <a target="_blank" href="https://www.linkedin.com/in/miguel-m-santos">
                        <b-img :src="require('@/assets/images/LI-In-Bug.png')"></b-img>
                    </a></h3>
                </b-col>
            </b-row>
        </b-container>
        <Skills></Skills>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Skills from './Skills.vue';
    @Component({
        components: {Skills},
    })
    export default class Home extends Vue {
        @Prop() private msg!: string;
    }
</script>
