<template>
    <div>
        <b-container>
            <b-row>
                <template v-for="skills in [languageSkills, otherSkills]">
                    <b-col class="col-md-6">
                        <template v-for="skill in skills">
                            <b-row class="mt-3">
                                <b-col class="col-md-3 text-right">{{ skill.name }}</b-col>
                                <b-col class="col-md-9">
                                    <b-progress height="1.4rem" :value="skill.score" striped
                                                :animated="true" :variant="getScoreVariant(skill.score)"></b-progress>
                                </b-col>
                            </b-row>
                        </template>
                    </b-col>
                </template>
            </b-row>
        </b-container>

    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Skill} from '../technologies/Skill';
    import data from '../technologies/data';

    @Component
    export default class Skills extends Vue {
        @Prop({default: () => data.skills.languages.map((o) => new Skill(o.name, o.score))})
        private languageSkills!: Skill[];
        @Prop({default: () => data.skills.others.map((o) => new Skill(o.name, o.score))})
        private otherSkills!: Skill[];

        private getScoreVariant(score: number): string {
            return score >= 90 ? 'warning' : score >= 80 ? 'success' : 'info';
        }
    }
</script>
