<template>
    <b-container>
        <b-row align="center">
            <b-col align="left">
                <b-row class="no-gutters">
                    <b-col><b>Name:</b></b-col>
                    <b-col>{{teammate.name}}</b-col>
                </b-row>
                <b-row class="no-gutters">
                    <b-col><b>Age:</b></b-col>
                    <b-col>{{teammate.age}}</b-col>
                </b-row>
                <b-row class="no-gutters">
                    <b-col><b>Hobby:</b></b-col>
                    <b-col>{{teammate.hobby}}</b-col>
                </b-row>
            </b-col>
            <b-col>
                <b-img thumbnail rounded="circle" :src="require(`@/assets/images/${teammate.image}`)"></b-img>
            </b-col>
            <b-col align="left"><p>{{$ml.get(teammate.descriptionRef)}}</p></b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component
    export default class Teammate extends Vue {
        @Prop() private teammate!: object;
    }
</script>
